<form>
    <div class="form-group">
        <H2 for="exampleInputEmail1">Mail Adresi</H2>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-posta Adresiniz">
    </div>
    <button type="submit" class="btn btn-primary">KAYIT OL</button>
</form>