<div class="footer-socials-section">
    <ul class="footer-socials">
        <li><a href="https://twitter.com/ceyhundiyorlar" rel="nofollow" target="_blank"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>

        <li><a  href="https://www.instagram.com/ceyhunozdemir/" class="btn-floating btn-lg btn-ins" type="button" role="button"><i class="fab fa-instagram"></i></a></li>
    </ul>
</div>
