
    <div class="container">
        <nav class="navbar navbar-expand-md badge-dark navbar-dark">
            <span class="headline-title col-md-1">Güncel</span>

            <div class="owl-nav col-md-3"><button type="button" class="owl-prev"><span aria-label="Previous">‹</span></button>
            <button type="button"  class="owl-next"><span aria-label="Next">›</span></button></div>
            <div class="owl-carousel owl-theme owl-img-responsive col-md-6">
                <div class="carousel-item active">
                    <a class="d-block w-100" href="https://ceyhunozdemir.com/hafif-adimlar-ileher-nefes-dergisi-yazisi/">Hafif Adımlar İle (Her Nefes Dergisi Yazısı)</a>
                </div>
                <div class="carousel-item">
                    <a class="d-block w-100" href="https://ceyhunozdemir.com/her-fikrin-alicisi-bulunur/">Her Fikrin Alıcısı Bulunur</a>
                </div>
            </div>

        </nav>

    </div>
